/* .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 424px;
  padding: 25px;
  border-radius: 15px;
}
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 175, 156, 0.5);
  opacity: 0;
  visibility: hidden;
}
.popup-bg.open {
  opacity: 1;
  visibility: visible;
} */

.open-popup {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 30px 2;
  font-size: 30px;
  text-decoration: none;
  color: black;
  width: 300px;
  border-radius: 10px;
  border: 1px solid orange;
}

.popup-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
.form-input {
  display: block;
  border-color: rgb(5, 5, 5, 20%);
  margin-bottom: 16px;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 0px;
  width: 100%;
  box-sizing: border-box;
}
.form-input:focus {
  outline-color: rgb(155, 181, 55);
}

.submit-btn {
  cursor: pointer;

  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 181, 55);
  color: #f8f8f8;
  border-color: transparent;
  border-radius: 15px;
  width: 360px;
  height: 48px;
}
.submit-btn:hover {
  color: black;
  box-shadow: 2px 5px 2px 1px rgba(155, 181, 55, 0.5);
}

.rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  line-height: 0.75;
  margin-bottom: 32px;
  /* font-size: 24; */
}
.rating-sending {
  opacity: 0.2;
}
.rating.rating-set .rating-active,
.rating.rating-set .rating-item {
  cursor: pointer;
}
.rating-body {
  position: relative;
  color: rgb(145, 145, 134);
}
.rating-body::before {
  content: '★★★★★';
  font-size: 32px;
  display: block;
}
.rating-active {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating-active::before {
  content: '★★★★★';
  font-size: 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}
.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating-item {
  flex: 0 0 20%;
  margin: 0;
  height: 100%;
  opacity: 0;
}
.rating-value {
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}
.rating-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 47, 47, 0.473);
  opacity: 1;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 424px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
.rating-modal-close:hover path {
  stroke: rgb(155, 181, 55);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ----------------New style---------------- */
